#title {
    background-color: #ff4c68;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15% 7%;
}

a.navbar-brand {
    font-size: 2rem;
}

a.nav-link {
    color: #fff;
}

nav.navbar {
    padding-bottom: 4rem;
}

.nav-item {
    padding: 0 18px;
}

a.nav-link {
    font-size: 1.2rem;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
}

#features {
    padding: 5% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 5% 15%;
}

.testimonial-images {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 5% 15%;
}

.cta-heading {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer section */
#footer {
    padding: 5% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
    width: 5%;
}

@media (max-width: 1300px) {
    #title {
        text-align: center;
    }

    .title-image {
        width: 60%;
        position: static;
        transform: rotate(0);
    }
}
